<div class="header">
	<h1>Omni Vorati, the Last Galaxy</h1>
	<h2>About the game.</h2>
</div>

<div class="content">
    <h2>Player Driven</h2>
    <h2>Strategy</h2>
    <h2>Realism</h2>
	<p>Despite being a a Feudal Sci-Fi game, Last Galaxy hews to its own realism.</p>
    <ul>
        <li>The age at which characters die is modeled directly off of real-life data. Here is a graph showing the ages at which characters will die of natural causes and accidents in Last Galaxy: <img class="pure-img" src="./img/ageofdeath.jpg"></li>
    </ul>
</div>